.pricing-table {
    font-family: 'Arimo', sans-serif;
    border: 10px solid #3a4965;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    color: #484848;
    text-transform: uppercase;
}

.header {
    font-weight: bold;
}

.pricing {
    background-color: #fafafa;
    width: 310px;
}

.pricing-choose {
    font-size: 18px;
}

.pricing-plan {
    font-size: 30px;
}

.green {
    background: #89c331;
    color: #fff;
    font-size: 24px;
}

.pink {
    background: #f04a56;
    color: #fff;
    font-size: 30px;
}

.blue {
    background: #20807c;
    color: #fff;
    font-size: 24px;
}

.price {
    display: flex;
    justify-content: center;
    background: #fafafa;
    width: 277px;
    height: 86px;
    box-shadow: 58px 0 5px -58px rgba(0, 0, 0, 0.27) inset;
}

.price-dollar {
    font-size: 60px;
    width: 98px;
    height: 50px;
    margin-top: 13px;
}

.price-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-99 {
    display: flex;
    font-size: 24px;
    width: 106px;
    height: 18px;
}

.price-per {
    width: 106px;
    height: 14px;
    margin-top: 7px;
    font-weight: 400;
}

.cols {
    border: 1px solid #d5d5d5;
    width: 277px;
    height: 69px;
    vertical-align: middle;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.27) inset;*/
    box-shadow: 58px 0 5px -58px rgba(0, 0, 0, 0.27) inset;
}

.row:nth-child(odd) {
    background: #f2f2f2;
}

.table-body {
    background: #e3e3e3;
    font-size: 16px;
}

.icon {
    margin-right: 12px;
    color: #848484;
    font-size: 24px;
}

.black {
    background-color: #484848;
    color: #fff;
    font-size: 24px;
}

.btn {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    margin: 31px 42px;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.btn:hover {
    background: #c428ff;
}

.contact {
    border-bottom: 7px solid #404040;
}

.buy-green {
    border-bottom: 7px solid #79b027;
}

.buy-pink {
    border-bottom: 7px solid #df3a46;
}

.buy-blue {
    border-bottom: 7px solid #16736f;
}

.btn1 {
    background-color: #ddd;
}

.btn2, .btn4 {
    background-color: #eee;
}

.btn3 {
    background-color: #f4f4f4;
}